@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: black;
    color: #00b800;
}

.container {
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 200px;
}

.main {
    height: 350px;
    width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.header h1 {
    font-size: 1.5rem;
}

textarea {
    width: 500px;
    height: 300px;
    font-size: 1.2rem;

    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    border: none;
    padding: 15px;
}
.submission{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

textarea:disabled, .submit:disabled{
    cursor: not-allowed;    
}

select{
    padding: 10px 20px;
    color:rgb(51, 192, 51) ;
    background: none;
    border: 1px solid white;
    cursor: pointer;
}
.submit {
    background: rgb(51, 192, 51);
    border: none;
    padding: 15px 50px;
    font-size: 1.5rem;
    flex: 0;
}